body {
  margin: 0;
  padding: 0;

  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400px;
  color: #000000;

  background-color: #ffffff;
}

a {
  text-decoration: none;
}

.visually-hidden {
  display: none;
}

.container {
  width: 940px;
  margin: auto;
}

.order-panel-list,
.user-list,
.navigation-list,
.goods-list,
.manufacturers-list,
.services-list,
.delivery-list,
.info-list,
.catalog-navigation,
.social-networks,
.user-navigation,
.breadcrumbs-list,
.sorting-list,
.catalog-goods-list,
.pagination-list {
  list-style: none;
}

.main-header {
  background-color: #f4f7f9
}

.order-panel-background {
  background-color: #293449;
  min-height: 42px;
}

.order-panel {
  display: flex;
  align-items: flex-start;
}

.header-logo-link {
  background-color: #ee3643;
  box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);

  padding-left: 55px;
  padding-right: 56px;
  padding-top: 13px;
  padding-bottom: 15px;

  font-size: 0;
  line-height: 0;

  position: relative;
}

.search {
  background-color: #293449;
  border: none;

  /* width: 270px; */
  padding-top: 14px;
  padding-bottom: 13px;
  padding-left: 49px;
  /* box-sizing: border-box; */
}

.search,
.order-panel-item {
  font-size: 17px;
  line-height: 18px;
}

.search,
.order-panel-link {
  color: #ffffff;
}

.order-panel-list {
  display: flex;
  align-items: flex-start;

  margin: 0;

  padding-left: 0;
}

.bookmark {
  padding-top: 14px;
  padding-bottom: 13px;
  padding-left: 44px;
  padding-right: 28px;
}

.basket {
  padding-top: 14px;
  padding-bottom: 13px;
  padding-left: 50px;
  padding-right: 31px;
}

.checkout {
  background-color: #63a63e;

  padding-top: 14px;
  padding-bottom: 13px;
  padding-left: 20px;
  padding-right: 22px;
}

.header-info {
  display: flex;

  margin-bottom: 44px;
}

.shop-info {
  color: #ee3643;

  font-size: 16px;
  line-height: 23px;

  width: 196px;

  margin: 0;
  margin-top: 54px;
  margin-left: 52px;
  margin-right: 71px;
}

.header-phone {
  border: 2px solid #ffffff;

  text-align: center;
  padding-left: 71px;
  padding-right: 47px;
  padding-top: 11px;
  padding-bottom: 9px;

  margin-top: 46px;
  margin-bottom: 0;

}

.phone-link {
  color: #ee3643;

  font-size: 21px;
  font-weight: 21px;
}

.header-address {
  color: #32425c;

  font-size: 14px;

  margin: 0;
  margin-top: 3px;

  text-align: center;
}

.user-list {
  display: flex;
  align-items: flex-start;

  margin: 0;
  margin-top: 46px;
  margin-left: 69px;

  padding: 0;
}

.user-link {
  color: #000000;

  font-size: 21px;
  line-height: 21px;
}

.user-entry {
  background-color: #ffffff;


  padding-top: 14px;
  padding-bottom: 11px;
  padding-left: 48px;
  padding-right: 27px;
}

.user-registration {
  background-color: #ffffff;

  padding-top: 14px;
  padding-bottom: 11px;
  padding-left: 25px;
  padding-right: 25px;

  margin-left: 10px;
}

.navigation-list {
  background-color: #32425c;
  box-shadow: inset 0px -5px 0 0 #293449;
}

.navigation-link {
  color: #ffffff;

  font-size: 17px;
  font-weight: 17px;
}
