body {
  margin: 0;
  padding: 0;

  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;

  background-color: #ffffff;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}

.container {
  width: 940px;
  margin: 0 auto;
}

.order-panel-list,
.user-list,
.navigation-list,
.goods-list,
.manufacturers-list,
.services-list,
.delivery-list,
.info-list,
.catalog-navigation,
.social-networks,
.user-navigation,
.breadcrumbs-list,
.sorting-list,
.catalog-goods-list,
.pagination-list,
.goods-buy-bookmarks {
  list-style: none;
}

.button-red {
  background-color: #ee3643;
  border-radius: 3px;

  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
}

.button-red:hover,
.button-red:focus {
  background-color: #ca2c37;
}

.button-red:active {
  background-color: #ba2732;
}

.main-header {
  background-color: #f4f7f9;

  padding-bottom: 60px;
}

.order-panel-background {
  background-color: #293449;
  min-height: 42px;
}

.order-panel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;

  position: relative;
}

.header-logo-link {
  background-color: #ee3643;
  -webkit-box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);
          box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);

  padding-left: 55px;
  padding-right: 56px;
  padding-top: 13px;
  padding-bottom: 15px;

  font-size: 0;
  line-height: 0;

  position: absolute;
  top: 0;
  left: 0;

  z-index: 1;
}

.header-logo-link:hover,
.header-logo-link:focus {
  background-color: #ca2c37;
}

.header-logo-link:active {
  background-color: #ba2732;
}

.form-search {
  position: relative;
  font-size: 0;
  line-height: 0;
}

.search-field {
  margin: 0;
}

.search-icon {
  fill: #6a7180;

  position: absolute;
  top: 11px;
  left: 237px;
}

.search {
  background-color: #293449;
  width: 261px;
  min-height: 42px;

  border: none;

  padding-top: 14px;
  padding-bottom: 9px;
  padding-left: 47px;

  margin-left: 220px;
}

.search:hover {
  background-color: #212a3a;
}

.search:hover ~ .search-icon {
  fill: #ffffff;
}

.search:focus {
  background-color: #ffffff;
}

.search:focus ~ .search-icon {
  fill: #ee3643;
}

.search::-webkit-input-placeholder {
  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;
}

.search::-moz-placeholder {
  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;
}

.search:-ms-input-placeholder {
  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;
}

.search::-ms-input-placeholder {
  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;
}

.search::placeholder {
  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;
}

.order-panel-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;

  margin: 0;

  padding-left: 0;
}

.order-panel-item {
  font-size: 17px;
  line-height: 18px;

  position: relative;
}

.order-panel-link {
  color: #ffffff;
}

.order-panel-link-bookmark {
  display: inline-block;
  vertical-align: top;

  padding-top: 12px;
  padding-bottom: 13px;
  padding-left: 52px;
  padding-right: 28px;
}

.icon-bookmark {
  fill: #ffffff;
  opacity: 0.3;
  position: absolute;
  top: 12px;
  left: 26px;
}

.order-panel-link-basket {
  display: inline-block;
  vertical-align: top;

  padding-top: 12px;
  padding-bottom: 13px;
  padding-left: 49px;
  padding-right: 31px;
}

.icon-basket {
  fill: #ffffff;
  opacity: 0.3;
  position: absolute;
  top: 12px;
  left: 19px;
}

.order-panel-link-bookmark:hover,
.order-panel-link-basket:hover,
.order-panel-link-bookmark:focus,
.order-panel-link-basket:focus {
  background-color: #212a3a;
}

.order-panel-link-bookmark:hover ~ .icon-bookmark,
.order-panel-link-basket:hover ~ .icon-basket,
.order-panel-link-bookmark:focus ~ .icon-bookmark,
.order-panel-link-basket:focus ~ .icon-basket {
  opacity: 1;
}

.order-panel-link-bookmark:active,
.order-panel-link-basket:active {
  opacity: 0.5;
  background-color: #161d29;
}

.order-panel-link-bookmark:active ~ .icon-bookmark,
.order-panel-link-basket:active ~ .icon-basket {
  opacity: 0.5;
}

.order-panel-link-checkout {
  display: inline-block;
  vertical-align: top;

  background-color: #63a63e;

  padding-top: 12px;
  padding-bottom: 13px;
  padding-left: 20px;
  padding-right: 22px;
}

.order-panel-link-checkout:hover,
.order-panel-link-checkout:focus {
  background-color: #5fbb2d;
}

.order-panel-link-checkout:active {
  opacity: 0.5;
}

.header-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  margin-bottom: 40px;
}

.shop-info {
  color: #ee3643;

  font-style: italic;
  font-size: 16px;
  line-height: 23px;

  width: 197px;
  min-height: 60px;

  margin: 0;
  margin-top: 49px;
  margin-left: 52px;
  margin-right: 72px;
}

.header-contacts {
  margin-right: 42px;
}

.header-phone {
  border: 2px solid #ffffff;

  padding-left: 71px;
  padding-right: 50px;
  padding-top: 11px;
  padding-bottom: 5px;

  margin-top: 45px;
  margin-bottom: 0;

  position: relative;
}

.phone-link {
  color: #ee3643;

  font-size: 21px;
  line-height: 21px;
}

.phone-link::before {
  background-image: url(../img/icon-phone.svg);
  background-repeat: no-repeat;
  content: "";
  display: inline-block;
  vertical-align: top;
  width: 19px;
  height: 19px;

  position: absolute;
  top: 12px;
  left: 12px;
}

.header-address {
  color: #32425c;

  font-size: 14px;

  margin: 0;
  margin-top: 4px;

  text-align: center;
}

.user-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;

  margin: 0;
  margin-top: 45px;

  padding: 0;
}

.user-item {
  position: relative;
}

.user-link {
  color: #000000;

  font-size: 21px;
  line-height: 21px;
}

.user-link-login {
  display: inline-block;
  vertical-align: top;

  background-color: #ffffff;


  padding-top: 13px;
  padding-bottom: 12px;
  padding-left: 47px;
  padding-right: 26px;

  margin-left: 27px;
  margin-right: 10px;
}

.icon-login {
  fill: #c5c5c5;
  position: absolute;
  top: 15px;
  left: 42px;
}

.user-link-registration {
  display: inline-block;
  vertical-align: top;

  background-color: #ffffff;

  padding-top: 13px;
  padding-bottom: 12px;
  padding-left: 24px;
  padding-right: 23px;
}

.user-link-login:hover,
.user-link-registration:hover,
.user-link-login:focus,
.user-link-registration:focus {
  color: #ee3643;
}

.user-link-login:active,
.user-link-registration:active {
  color: rgba(0, 0, 0, 0.3);
}

.user-link-login:hover ~ .icon-login,
.user-link-login:focus ~ .icon-login {
  fill: #32425c;
}

.user-link-login:active ~ .icon-login {
  fill: rgba(0, 0, 0, 0.3);
}

.navigation-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;

  padding: 0;
  margin: 0;
}

.navigation-link {
  color: #ffffff;

  font-size: 17px;
  line-height: 17px;

  background-color: #32425c;
  -webkit-box-shadow: inset 0px -5px 0 0 #293449;
          box-shadow: inset 0px -5px 0 0 #293449;

  padding-top: 20px;
  padding-bottom: 23px;

  display: inline-block;
  vertical-align: top;
}

.navigation-link {
  color: #ffffff;
}

.navigation-link:hover,
.navigation-link:focus {
  background-color: #293449;
}

.navigation-link:active {
  background-color: #1d2739;
}

.navigation-item:nth-child(1) a {
  display: inline-block;
  vertical-align: top;

  padding-left: 52px;
  padding-right: 32px;
}

.navigation-item:nth-child(2) a {
  display: inline-block;
  vertical-align: top;

  padding-left: 32px;
  padding-right: 30px;
}

.navigation-item:nth-child(3) a {
  display: inline-block;
  vertical-align: top;

  padding-left: 28px;
  padding-right: 30px;
}

.navigation-item:nth-child(4) a {
  display: inline-block;
  vertical-align: top;

  padding-left: 31px;
  padding-right: 29px;
}

.navigation-item:nth-child(5) a {
  display: inline-block;
  vertical-align: top;

  padding-left: 30px;
  padding-right: 31px;
}

.navigation-item:nth-child(6) a {
  display: inline-block;
  vertical-align: top;

  padding-left: 31px;
  padding-right: 32px;
}

.navigation-item:nth-child(7) a {
  display: inline-block;
  vertical-align: top;

  padding-left: 31px;
  padding-right: 51px;
}

.catalog-divisions {
  margin-top: 59px;
  margin-bottom: 53px;
}

.catalog-division-one {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.catalog-item {
  width: 300px;
  min-height: 123px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;

  position: relative;
}

.catalog-caption,
.catalog-button-text {
  color: #ffffff;
}

.catalog-caption {
  font-size: 24px;
  line-height: 30px;

  margin: 0;
}

.catalog-button {
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;

  background-color: rgba(0, 0, 0, 0.1);

  margin: 0;

  border-radius: 3px;

  display: inline-block;
  vertical-align: top;
}

.catalog-button:hover,
.catalog-button:focus {
  background-color: rgba(0, 0, 0, 0.2);
}

.catalog-button:active {
  background-color: rgba(0, 0, 0, 0.3);
}

.catalog-item-materials {
  background-color: #ffbf47;

  padding-top: 20px;
  padding-left: 23px;
}

.catalog-item-materials::after {
  background-image: url(../img/icon-materials.svg);
  background-repeat: no-repeat;
  content: "";
  display: inline-block;
  vertical-align: top;
  width: 44px;
  height: 65px;

  position: absolute;
  top: 31px;
  left: 213px;
}

.catalog-item-materials::before {
  background-image: url(../img/new-flag.png);
  background-repeat: no-repeat;
  content: "";
  display: inline-block;
  vertical-align: top;
  width: 60px;
  height: 59px;

  position: absolute;
  top: 0;
  right: 0;
}

.catalog-button-materials {
  margin-top: 14px;
  margin-left: 2px;
}

.catalog-link-materials {
  display: inline-block;
  vertical-align: top;

  padding-left: 24px;
  padding-right: 24px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.catalog-item-tool {
  background-color: #3bbce3;

  padding-top: 20px;
  padding-left: 22px;

  margin-left: 20px;
}

.catalog-item-tool::after {
  background-image: url(../img/icon-tool.svg);
  background-repeat: no-repeat;
  content: "";
  display: inline-block;
  vertical-align: top;
  width: 75px;
  height: 61px;

  position: absolute;
  top: 33px;
  left: 197px;
}

.catalog-button-tool {
  margin-left: 3px;
  margin-top: 14px;
}

.catalog-link-tool {
  display: inline-block;
  vertical-align: top;

  padding-left: 27px;
  padding-right: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.catalog-item-technique {
  background-color: #dc91d8;

  padding-top: 20px;
  padding-left: 23px;

  margin-left: 20px;
}

.catalog-item-technique::after {
  background-image: url(../img/icon-technique.svg);
  background-repeat: no-repeat;
  content: "";
  display: inline-block;
  vertical-align: top;
  width: 78px;
  height: 62px;

  position: absolute;
  top: 31px;
  left: 192px;
}

.catalog-button-technique {
  margin-top: 14px;

}

.catalog-link-technique {
  display: inline-block;
  vertical-align: top;

  padding-left: 30px;
  padding-right: 31px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.catalog-division-two {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;

  margin-top: 20px;

  position: relative;
}

.catalog-slider {
  position: relative;

  width: 620px;
  min-height: 266px;
}

.catalog-slider::before {
  background-image: url(../img/icon-slider-left.svg);
  background-repeat: no-repeat;
  content: "";
  display: inline-block;
  vertical-align: top;
  width: 22px;
  height: 40px;

  position: absolute;
  top: 114px;
  left: 25px;

  z-index: 1;
}

.catalog-slider::after {
  background-image: url(../img/icon-slider-right.svg);
  background-repeat: no-repeat;
  content: "";
  display: inline-block;
  vertical-align: top;
  width: 22px;
  height: 40px;

  position: absolute;
  top: 114px;
  left: 578px;
}

.catalog-slider-one {
  background-image: url(../img/slide-image-1.jpg);
  background-repeat: no-repeat;
  background-color: #cbbca8;
  width: 620px;
  min-height: 266px;

  padding-left: 24px;

  -webkit-box-sizing: border-box;

          box-sizing: border-box;

  position: absolute;

  opacity: 0;
}

.catalog-slider-two {
  background-image: url(../img/slide-image-2.jpg);
  background-repeat: no-repeat;
  background-color: #a47e73;
  width: 620px;
  min-height: 266px;

  padding-left: 24px;

  -webkit-box-sizing: border-box;

          box-sizing: border-box;

  position: absolute;

  opacity: 0;
}

.catalog-slider-caption {
  font-size: 36px;
  line-height: 36px;
  color: #ffffff;
  text-transform: uppercase;

  margin: 0;
  padding-top: 23px;
}

.catalog-slider-text {
  font-size: 18px;
  color: #ffffff;

  margin: 0;
  padding-top: 1px;
  padding-left: 1px;
}

.catalog-slider-button {
  margin-top: 122px;
  margin-left: 1px;

  padding-left: 49px;
  padding-right: 46px;
  padding-top: 11px;
  padding-bottom: 9px;

  display: inline-block;
  vertical-align: top;
}

.controls-catalog-slider {
  position: absolute;
  top: 220px;
  left: 295px;
  z-index: 1;
}

.controls-catalog-slider label {
  position: relative;
  content: '';
  display: inline-block;
  vertical-align: top;
  width: 10px;
  height: 10px;
  margin-right: 7px;;

  background-color: #ffffff;
  border-radius: 50%;
}

#slide-1:checked ~ .controls-catalog-slider label:first-of-type::after,
#slide-2:checked ~ .controls-catalog-slider label:last-of-type::after {
  content: '';
  position: absolute;
  top: 2px;
  left: 2px;

  width: 6px;
  height: 6px;

  background-color: #ee3643;
  border-radius: 50%;
}

#slide-1:checked ~ .catalog-slider-one,
#slide-2:checked ~ .catalog-slider-two {
  opacity: 1;
}

#slide-1:focus ~ .controls-catalog-slider .slide-label-one,
#slide-2:focus ~ .controls-catalog-slider .slide-label-two  {
  outline: 2px solid #68A2F9;
}

.catalog-division-three {
  margin-left: 20px;
}

.catalog-item-discount {
  background-color: #8ed78f;

  padding-top: 20px;
  padding-left: 22px;
}

.catalog-button-discount {
  margin-top: 13px;
  margin-left: 1px;
}

.catalog-link-discount {
  display: inline-block;
  vertical-align: top;

  padding-left: 23px;
  padding-right: 23px;
  padding-top: 11px;
  padding-bottom: 10px;
}

.catalog-button-discount::after {
  background-image: url(../img/icon-discount.svg);
  background-repeat: no-repeat;
  content: "";
  display: inline-block;
  vertical-align: top;
  width: 59px;
  height: 72px;

  position: absolute;
  top: 26px;
  left: 197px;
}

.catalog-item-delivery {
  background-color: #ffc047;

  padding-top: 20px;
  padding-left: 22px;

  margin-top: 20px;
}

.catalog-button-delivery::after {
  background-image: url(../img/icon-delivery.svg);
  background-repeat: no-repeat;
  content: "";
  display: inline-block;
  vertical-align: top;
  width: 78px;
  height: 63px;

  position: absolute;
  top: 32px;
  left: 192px;
}

.catalog-button-delivery {
  margin-top: 13px;
  margin-left: 1px;
}

.catalog-link-delivery {
  display: inline-block;
  vertical-align: top;

  padding-left: 37px;
  padding-right: 37px;
  padding-top: 11px;
  padding-bottom: 10px;
}
.goods-manufacturers-division {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;

  background-color: #f9f5f0;
  padding-left: 28px;
  padding-top: 25px;
  padding-bottom: 26px;
}

.goods-manufacturers-caption {
  font-size: 30px;
  line-height: 30px;
  color: #32425c;
  text-transform: uppercase;

  margin: 0;
  margin-top: 5px;
}

.goods-manufacturers-button {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-right: 24px;
}

.goods-button {
  padding-left: 55px;
  padding-right: 55px;
}

.goods-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;

  margin: 0;
  margin-top: 20px;
  padding: 0;
}

.goods-item {
  border: 1px solid #eaeaea;
  margin-right: 20px;

  width: 218px;
  min-height: 316px;

  position: relative;
}

.goods-item:hover,
.goods-item:focus {
  border: 1px solid transparent;
  -webkit-box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
          box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.goods-item-catalog:hover,
.goods-item-catalog:focus {
  border: 1px solid transparent;
  -webkit-box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
          box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.goods-item:nth-child(4) {
  margin-right: 0;
}

.goods-item:nth-child(4)::after {
  background-image: url(../img/new-flag.png);
  background-repeat: no-repeat;
  content: "";
  display: inline-block;
  vertical-align: top;
  width: 60px;
  height: 59px;

  position: absolute;
  top: -1px;
  right: -1px;
}

.goods-caption {
  font-family: 'PTSans', Arial, sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
  color: #000000;

  margin: 0;
  margin-top: 1px;
}

.goods-caption-link {
  color: #000000;
}

.goods-old-price {
  font-family: 'PTSans', Arial, sans-serif;
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
  color: #a9a9a9;
  text-decoration: line-through;
  text-align: center;

  margin: 0;
  margin-top: 11px;

  cursor: default;
}

.goods-price {
  background-image: url(../img/button-goods.svg);
  background-repeat: no-repeat;

  font-family: 'PTSans', Arial, sans-serif;
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;
  margin: 0;
  margin-left: 42px;
  margin-top: 10px;

  padding-top: 11px;
  padding-bottom: 10px;
  padding-left: 32px;

  cursor: default;
}

.goods-price-bottom {
  margin-top: 39px;
}

.goods-buy-bookmarks {
  position: absolute;
  top: 0;
  left: 0;

  background-color: #ffffff;
  padding-top: 43px;
  padding-bottom: 43px;
  padding-left: 41px;
  padding-right: 41px;

  opacity: 0;
}

.goods-item:hover > .goods-buy-bookmarks,
.goods-item:focus > .goods-buy-bookmarks {
  opacity: 1;
}

.goods-item-catalog:hover > .goods-buy-bookmarks,
.goods-item-catalog:focus > .goods-buy-bookmarks {
  opacity: 1;
}

.goods-buy {
  position: relative;
}

.goods-buy-link {
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;

  display: inline-block;
  vertical-align: top;

  background-color: #63a63e;
  -webkit-box-shadow: inset 0px -3px 0 0 #367315;
          box-shadow: inset 0px -3px 0 0 #367315;
  border-radius: 2px;

  padding-top: 11px;
  padding-bottom: 10px;
  padding-left: 49px;
  padding-right: 45px;
}

.goods-buy-link::after {
  background-image: url(../img/icon-basket.svg);
  background-repeat: no-repeat;
  content: "";
  display: inline-block;
  vertical-align: top;
  width: 15px;
  height: 15px;

  opacity: 0.3;

  position: absolute;
  top: 12px;
  left: 14px;
}

.goods-buy-link:hover,
.goods-buy-link:focus {
  background-color: #5fbb2d;
}

.goods-buy-link:active {
  background-color: #518534;
}

.goods-bookmarks-link {
  font-size: 14px;
  line-height: 18px;
  color: #32425c;
  text-transform: uppercase;

  display: inline-block;
  vertical-align: top;

  border: 3px solid #63a63e;
  border-radius: 2px;

  margin-top: 8px;

  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 33px;
  padding-right: 29px;
}

.goods-bookmarks-link:hover,
.goods-bookmarks-link:focus {
  border: 3px solid #32425c;
}

.goods-bookmarks-link:active {
  opacity: 0.3;
}

.manufacturers-division {
  margin-top: 22px;
}

.manufacturers-button {
  padding-left: 69px;
  padding-right: 69px;
}

.manufacturers-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;

  margin: 0;
  margin-top: 20px;
  padding: 0;
  padding-bottom: 64px;
}

.manufacturers-item {
  width: 220px;
  min-height: 145px;

  border: 1px solid #eaeaea;

  margin-right: 20px;
  margin-bottom: 20px;

  -webkit-box-sizing: border-box;

          box-sizing: border-box;
}

.manufacturers-link:hover,
.manufacturers-link:focus {
  border: none;
  -webkit-box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
          box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.manufacturers-item:active {
  border: none;
  opacity: 0.5;
  -webkit-box-shadow: 0px 4px 10px 0 rgba(41, 52, 73, 0.5);
          box-shadow: 0px 4px 10px 0 rgba(41, 52, 73, 0.5);
}

.manufacturers-item:nth-child(4n) {
  margin-right: 0;
}

li.manufacturers-item  {
  font-size: 0;
  line-height: 0;
}

.manufacturers-bosch {
  padding-top: 51px;
  padding-bottom: 55px;
  padding-left: 46px;
  padding-right: 45px;

  display: inline-block;
  vertical-align: top;
}

.manufacturers-makita {
  padding-top: 48px;
  padding-bottom: 55px;
  padding-left: 47px;
  padding-right: 50px;

  display: inline-block;
  vertical-align: top;
}

.manufacturers-dewalt {
  padding-top: 47px;
  padding-bottom: 52px;
  padding-left: 36px;
  padding-right: 36px;

  display: inline-block;
  vertical-align: top;
}

.manufacturers-interskol {
  padding-top: 20px;
  padding-bottom: 34px;
  padding-left: 8px;
  padding-right: 10px;

  display: inline-block;
  vertical-align: top;
}

.manufacturers-hitachi {
  padding-top: 57px;
  padding-bottom: 54px;
  padding-left: 27px;
  padding-right: 21px;

  display: inline-block;
  vertical-align: top;
}

.manufacturers-lg {
  padding-top: 33px;
  padding-bottom: 36px;
  padding-left: 47px;
  padding-right: 50px;

  display: inline-block;
  vertical-align: top;
}

.manufacturers-aeg {
  padding-top: 22px;
  padding-bottom: 25px;
  padding-left: 34px;
  padding-right: 34px;

  display: inline-block;
  vertical-align: top;
}

.manufacturers-metabo {
  padding-top: 33px;
  padding-bottom: 41px;
  padding-left: 10px;
  padding-right: 5px;

  display: inline-block;
  vertical-align: top;
}

.services-background {
  background-color: #f4f7f9;
}

.services-section {
  position: relative;
}

.services-caption,
.company-caption,
.contacs-map-caption,
.about-goods-caption {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;

  margin: 0;
}

.services-caption {
  padding-top: 66px;
  padding-bottom: 25px;
}

.services-text,
.services-division-text,
.company-text,
.contacs-map-text,
.about-goods-text {
  font-family: 'PTSans', Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;

  margin: 0;
}

.services-division {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  position: relative;
}

.services-list {
  margin: 0;
  margin-top: 71px;
  margin-bottom: 98px;
  padding: 0;
}

.services-list::after {
  background-image: url(../img/shadow.png);
  background-repeat: no-repeat;
  content: "";
  display: inline-block;
  vertical-align: top;
  width: 10px;
  height: 279px;

  position: absolute;
  top: 24px;
  left: 230px;

  z-index: 1;
}

.services-button {
  font-size: 21px;
  line-height: 30px;
  font-weight: bold;
  color: #ffffff;
  background-color: #32425c;

  display: inline-block;
  vertical-align: top;
  padding-left: 22px;
  margin-top: 0;
}

.services-button:hover {
  background-color: #293449;
}

.services-button:focus {
  color: #32425c;
  background-color: #ffffff;
}

.services-button-current {
  color: #32425c;

  background-color: #ffffff;
}

.services-item:nth-child(1) a {
  padding-top: 14px;
  padding-bottom: 17px;
  padding-right: 139px;
}

.services-item:nth-child(2) a {
  padding-top: 16px;
  padding-bottom: 17px;
  padding-right: 140px;
}

.services-item:nth-child(3) a {
  padding-top: 15px;
  padding-bottom: 17px;
  padding-right: 157px;
}

.services-division-delivery {
  margin-left: 80px;
  margin-top: 68px;

  /* display: none; */
}

.services-division-delivery::after {
  background-image: url(../img/delivery.png);
  background-repeat: no-repeat;
  content: "";
  display: inline-block;
  vertical-align: top;
  width: 468px;
  height: 261px;

  position: absolute;
  top: 93px;
  left: 471px;
}

.services-division-text-delivery {
  width: 294px;
  min-height: 83px;
}

.services-division-guarantee {
  display: none;

  margin-left: 80px;
  margin-top: 68px;
}

.services-division-guarantee::after {
  background-image: url(../img/guarantee.png);
  background-repeat: no-repeat;
  content: "";
  display: inline-block;
  vertical-align: top;
  width: 389px;
  height: 283px;

  position: absolute;
  top: 71px;
  left: 560px;
}

.services-division-text-guarantee {
  width: 399px;
  min-height: 109px;
}

.services-division-credit {
  display: none;

  margin-left: 80px;
  margin-top: 68px;
}

.services-division-credit::after {
  background-image: url(../img/credit.png);
  background-repeat: no-repeat;
  content: "";
  display: inline-block;
  vertical-align: top;
  width: 465px;
  height: 285px;

  position: absolute;
  top: 69px;
  left: 486px;
}

.services-division-text-credit {
  width: 297px;
  min-height: 36px;
}

.services-button {
  font-family: 'Cuprum', Arial, sans-serif;

  border: none;
  display: inline-block;
  vertical-align: top;

  margin-top: 27px;
  padding-top: 11px;
  padding-bottom: 10px;
  padding-left: 45px;
  padding-right: 45px;
}

.services-division-caption {
  font-size: 36px;
  line-height: 36px;
  color: #32425c;
  text-transform: uppercase;

  margin: 0;

  position: relative;
  z-index: 1;
}

.services-division-text {
  margin-top: 24px;

  position: relative;
  z-index: 1;
}

.container-about-company {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  padding-top: 50px;
  padding-bottom: 87px;

  position: relative;
}

.company-caption,
.contacs-map-caption {
  margin-top: 29px;
}

.company-text,
.contacs-map-text {
  margin-top: 25px;
}

.company-text {
  width: 543px;
}

.delivery-list {
  padding: 0;
}

.delivery-item {
  font-size: 18px;
  line-height: 20px;

  padding-top: 8px;
  padding-bottom: 12px;
}

.delivery-item::before {
  content: '';
  display: inline-block;
  vertical-align: top;
  background-color: #ee3643;
  width: 25px;
  height: 2px;

  margin-right: 10px;
}

.company-button {
  display: inline-block;
  vertical-align: top;

  margin-top: 11px;

  padding-top: 11px;
  padding-bottom: 9px;
  padding-left: 41px;
  padding-right: 40px;
}


.contacs-map {
  margin-left: 97px;
}

.contacs-map-text {
  width: 193px;
}

.map-img {
  margin-top: 32px;
}

.interactive-map {
  position: absolute;
  top: 33px;
  left: 0;
  z-index: 3;
}

.map-big-img {
  position: absolute;
  top: 33px;
  left: 0;

  -webkit-box-shadow: 0px 20px 40px 0 rgba(0, 0, 0, 0.75);

          box-shadow: 0px 20px 40px 0 rgba(0, 0, 0, 0.75);
  background-color: #efeae4;
}

.map-button-close {
  background-color: transparent;
  border: none;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 38px;
  right: 24px;
  padding: 0;

  z-index: 5;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.map-button-close::after {
  background-image: url(../img/close.svg);
  background-repeat: no-repeat;
  content: "";
  display: inline-block;
  vertical-align: top;
  width: 21px;
  height: 21px;

  z-index: 1;
}

.contacs-map-button {
  margin-top: 32px;

  padding-top: 12px;
  padding-bottom: 8px;
  padding-left: 64px;
  padding-right: 61px;

  display: inline-block;
  vertical-align: top;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.map-modal {
  display: none;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 51%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 960px;
}

.map-modal-window {
  background-color: #ffffff;
  width: 620px;
  min-height: 430px;
  border-top: 7px solid #ee3643;
  -webkit-box-shadow: 0px 20px 40px 0 rgba(0, 0, 0, 0.75);
          box-shadow: 0px 20px 40px 0 rgba(0, 0, 0, 0.75);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;

  position: absolute;
  top: 205px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);

  display: none;
}

.map-modal-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 38px;
}

.map-name-mail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 47px;
  padding-left: 80px;
}

.map-mail {
  padding-left: 20px;
}

.map-name,
.map-mail,
.map-letter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.map-letter {
  padding-top: 20px;
  padding-left: 80px;
}

.map-modal-label {
  font-size: 18px;
  line-height: 18px;
}

.map-input,
.map-textarea {
  border: 2px solid #dee3e4;
  border-radius: 2px;
  margin-top: 9px;
}

.map-input:hover,
.map-textarea:hover {
  border: 2px solid #b5b5b5;
}

.map-input:focus,
.map-textarea:focus {
  border: 2px solid #ee3643;
}

.map-input::-webkit-input-placeholder,
.map-textarea::-webkit-input-placeholder {
  font-family: "PTSans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #a9a9a9;
}

.map-input::-moz-placeholder,
.map-textarea::-moz-placeholder {
  font-family: "PTSans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #a9a9a9;
}

.map-input:-ms-input-placeholder,
.map-textarea:-ms-input-placeholder {
  font-family: "PTSans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #a9a9a9;
}

.map-input::-ms-input-placeholder,
.map-textarea::-ms-input-placeholder {
  font-family: "PTSans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #a9a9a9;
}

.map-input::-webkit-input-placeholder, .map-textarea::-webkit-input-placeholder {
  font-family: "PTSans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #a9a9a9;
}

.map-input::-moz-placeholder, .map-textarea::-moz-placeholder {
  font-family: "PTSans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #a9a9a9;
}

.map-input:-ms-input-placeholder, .map-textarea:-ms-input-placeholder {
  font-family: "PTSans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #a9a9a9;
}

.map-input::-ms-input-placeholder, .map-textarea::-ms-input-placeholder {
  font-family: "PTSans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #a9a9a9;
}

.map-input::placeholder,
.map-textarea::placeholder {
  font-family: "PTSans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #a9a9a9;
}

.map-input-name,
.map-input-mail {
  width: 220px;
  min-height: 39px;

  padding-left: 13px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.map-input-letter {
  width: 461px;
  min-height: 115px;
  padding-top: 9px;
  padding-bottom: 9px;
  padding-left: 13px;
  padding-right: 13px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.map-button {
  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;

  width: 460px;
  border: none;
  margin-top: 74px;
  margin-left: 80px;
  padding-top: 11px;
  padding-bottom: 9px;
}

.button-close {
  background-color: transparent;
  border: none;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 5px;
  right: 4px;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.button-close::after {
  background-image: url(../img/close.svg);
  background-repeat: no-repeat;
  content: "";
  display: inline-block;
  vertical-align: top;
  width: 21px;
  height: 21px;

  position: absolute;
  top: 5px;
  right: 5px;

  z-index: 1;
}

 @-webkit-keyframes bounce {
 0% { -webkit-transform: translate(-50%, -2000px); transform: translate(-50%, -2000px); }
 70% { -webkit-transform: translate(-50%, 30px); transform: translate(-50%, 30px); }
 90% { -webkit-transform: translate(-50%, -10px); transform: translate(-50%, -10px); }
 100% { -webkit-transform: translate(-50%, 0); transform: translate(-50%, 0); }
 }

 @keyframes bounce {
 0% { -webkit-transform: translate(-50%, -2000px); transform: translate(-50%, -2000px); }
 70% { -webkit-transform: translate(-50%, 30px); transform: translate(-50%, 30px); }
 90% { -webkit-transform: translate(-50%, -10px); transform: translate(-50%, -10px); }
 100% { -webkit-transform: translate(-50%, 0); transform: translate(-50%, 0); }
 }

 @-webkit-keyframes shake {
  0%, 100% { -webkit-transform: translateX(0); transform: translateX(0); }
  10%, 30%, 50%, 70%, 90% { -webkit-transform: translateX(-10px); transform: translateX(-10px); }
  20%, 40%, 60%, 80% { -webkit-transform: translateX(10px); transform: translateX(10px); }
  }

 @keyframes shake {
  0%, 100% { -webkit-transform: translateX(0); transform: translateX(0); }
  10%, 30%, 50%, 70%, 90% { -webkit-transform: translateX(-10px); transform: translateX(-10px); }
  20%, 40%, 60%, 80% { -webkit-transform: translateX(10px); transform: translateX(10px); }
  }

.modal-error {
  -webkit-animation-name: shake;
          animation-name: shake;
  -webkit-animation-duration: 0.6s;
          animation-duration: 0.6s;
  }

.footer-background-top {
  background-color: #32425c;
  padding-bottom: 49px;
}

.footer-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-logo-link {
  display: inline-block;
  vertical-align: top;

  background-color: #ee3643;
  -webkit-box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);
          box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);

  padding-top: 20px;
  padding-bottom: 17px;
  padding-left: 41px;
  padding-right: 41px;
}

.footer-contacs,
.footer-phone {
  font-size: 18px;
  line-height: 24px;
  color: #f3f7f9;

  width: 323px;

  margin: 0;
  margin-top: 28px;
  margin-left: 2px;
}

.info-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;

  padding: 0;
  margin: 0;
  margin-left: 68px;
  margin-top: 37px;
}

.info-item,
.catalog-navigation-item {
  font-size: 18px;
  line-height: 24px;
  color: #f1f5f7;

  margin-right: 59px;
}

.info-item:nth-child(4),
.catalog-navigation-item:nth-child(3) {
  margin-right: 58px;
}

.info-item:nth-child(5),
.catalog-navigation-item:nth-child(4) {
  margin-right: 0;
}

.info-link {
  color: #f1f5f7;
}

.info-link:hover,
.info-link:focus {
  border-bottom: 1px solid #f1f5f7;
}

.catalog-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;

  padding: 0;
  margin: 0;
  margin-left: 91px;
  margin-top: 34px;
}

.catalog-navigation-item {
  color: #ffd180;
}

.catalog-navigation-link {
  color: #ffd180;
}

.catalog-navigation-link:hover,
.feedback-link:hover,
.developed-by-link:hover,
.catalog-navigation-link:focus,
.feedback-link:focus,
.developed-by-link:focus {
  border-bottom: 1px solid #ffd180;
}

.info-link:active,
.catalog-navigation-link:active {
  opacity: 0.5;
  border-bottom: none;
}

.footer-background-bottom {
  background-color: #293449;
}

.footer-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.copyright-info {
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  width: 228px;

  margin: 0;
  margin-top: 38px;
  margin-left: 1px;
  margin-bottom: 34px;
}

.social-networks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
  margin-top: 35px;
  margin-left: 161px;
  margin-right: 116px;
  padding: 0;
}


.social-link {
  background-color: #212a3a;
  border-radius: 50%;
  width: 42px;
  height: 42px;
  display: inline-block;
  vertical-align: top;
}

.social-link:hover,
.social-link:active,
.social-link:focus {
  background-color: #ee3643;
}

.social-item {
  margin-right: 3px;
}

.vk-link::before {
  background-image: url(../img/vk-icon.svg);
  background-repeat: no-repeat;
  content: "";
  display: inline-block;
  vertical-align: top;
  width: 26px;
  height: 15px;

  margin-top: 13px;
  margin-left: 8px;
}

.fb-link::before {
  background-image: url(../img/fb-icon.svg);
  background-repeat: no-repeat;
  content: "";
  display: inline-block;
  vertical-align: top;
  width: 11px;
  height: 22px;

  margin-top: 10px;
  margin-left: 16px;
}

.insta-link::before {
  background-image: url(../img/insta-icon.svg);
  background-repeat: no-repeat;
  content: "";
  display: inline-block;
  vertical-align: top;
  width: 21px;
  height: 21px;

  margin-top: 10px;
  margin-left: 10px;
}

.feedback-developed {
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  margin-top: 37px;
}

.feedback-info,
.developed-by {
  margin: 0;
}

.feedback-link,
.developed-by-link {
  color: #ffd180;
}

.feedback-link:active,
.developed-by-link:active {
  color: #ee3643;
  border-bottom: none;
}

.feedback-info {
  width: 135px;
  min-height: 32px;

  margin-right: 53px;
}

.developed-by {
  width: 96px;
  min-height: 34px;
}

.order-panel-link-basket-catalog {
  display: inline-block;
  vertical-align: top;

  background-color: #ee3643;

  padding-top: 12px;
  padding-bottom: 13px;
  padding-left: 49px;
  padding-right: 26px;
}

.icon-basket-catalog {
  fill: #ffffff;
  opacity: 0.3;
  position: absolute;
  top: 12px;
  left: 19px;
}

.order-panel-link-basket-catalog:hover,
.order-panel-link-basket-catalog:focus {
 background-color: #ca2c37;
}

.order-panel-link-basket-catalog:hover ~ .icon-basket-catalog,
.order-panel-link-basket-catalog:focus ~ .icon-basket-catalog {
 opacity: 1;
}

.order-panel-link-basket-catalog:active {
 opacity: 0.7;
 background-color: #ba2732;
}

.order-panel-link-basket-catalog:active ~ .icon-basket-catalog {
 opacity: 0.7;
}

.user-list-catalog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;

  margin-left: 10px;

  position: relative;
}

.user-link-account {
  display: inline-block;
  vertical-align: top;

  background-color: #ffffff;

  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 46px;
  padding-right: 19px;

  position: relative;
}

.icon-user {
  fill: #c5c5c5;
  position: absolute;
  top: 14px;
  left: 13px;
}

.user-link-account:hover ~ .icon-user,
.user-link-account:focus ~ .icon-user {
  fill: #32425c;
}

.user-link-account:active,
.user-navigation-link:active {
  color: rgba(0, 0, 0, 0.3);
}

.user-link-account:active ~ .icon-user {
  fill: #c5c5c5;
}

.user-link-exit {
  display: inline-block;
  vertical-align: top;

  background-color: #ffffff;

  padding-top: 45px;
  padding-left: 47px;

  position: relative;
}

.icon-exit {
  fill: #c5c5c5;
  position: absolute;
  top: 14px;
  right: 10px;
}

.user-link-exit:hover ~ .icon-exit,
.user-link-exit:focus ~ .icon-exit {
  fill: #32425c;
}

.user-link-exit:active ~ .icon-exit {
  fill: #c5c5c5;
}

.user-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;

  font-size: 16px;
  line-height: 18px;
  color: #32425c;
  text-decoration: underline;

  margin: 0;
  padding: 0;
  margin-top: 8px;
  margin-left: 18px;

  position: relative;
}

.my-orders::after {
  content: "";
  background-color: #32425c;
  border-radius: 50%;
  width: 4px;
  height: 4px;
  position: absolute;
  top: 7px;
  left: 89px;
  display: inline-block;
  vertical-align: top;
}

.user-navigation-link:hover,
.user-navigation-link:focus {
 color: #ee3643;
}

.user-navigation-link:active {
 color: #c5c5c5;
}

.my-orders {
  margin-right: 31px;
}

.my-orders::after {
  background-color: #32425c;
  width: 4px;
  height: 5px;
  border-radius: 50%;
}

.user-navigation-link {
  color: #32425c;
}

.breadcrumbs-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;

  padding: 0;
  margin: 0;
  margin-top: 20px;

  position: relative;
}

.breadcrumbs-item {
  font-family: 'PTSans', Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;
}

.breadcrumbs-link {
  color: #000000;
}

.breadcrumbs-home::before {
  background-image: url(../img/icon-home.svg);
  background-repeat: no-repeat;
  content: "";
  display: inline-block;
  vertical-align: top;
  width: 14px;
  height: 12px;

  position: absolute;
  top: 3px;
  left: 0;
}

.breadcrumbs-home:focus::before {
  outline: 2px solid #68A2F9;
}

.breadcrumbs-item:nth-child(2) {
  margin-left: 28px;
}

.breadcrumbs-item:nth-child(3) {
  margin-left: 13px;
}

.breadcrumbs-item:nth-child(4) {
  margin-left: 8px;
}

.breadcrumbs-item:not(:first-child)::before {
  background-image: url(../img/icon-breadcrumbs-right.svg);
  background-repeat: no-repeat;
  content: "";
  display: inline-block;
  vertical-align: top;
  width: 8px;
  height: 12px;

  margin-top: 3px;
  margin-right: 16px;
}

.goods-catalog {
  position: relative;
}

.goods-catalog-caption {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: #32425c;

  background-color: #f2f6f8;
  width: 100%;

  padding-top: 30px;
  padding-bottom: 29px;
  padding-left: 28px;

  margin: 0;
  margin-top: 21px;

  -webkit-box-sizing: border-box;

          box-sizing: border-box;
}

.added-to-basket {
  width: 620px;
  min-height: 282px;
  background-color: #ffffff;
  border-top: 7px solid #ee3643;
  -webkit-box-shadow: 0px 20px 40px 0 rgba(0, 0, 0, 0.75);
          box-shadow: 0px 20px 40px 0 rgba(0, 0, 0, 0.75);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;

          position: fixed;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);

  z-index: 1;

  display: none;
}

.added-to-basket-text {
  margin: 0;
  font-size: 30px;
  line-height: 30px;
  padding-top: 65px;
  padding-left: 179px;
  padding-bottom: 68px;
}

.added-to-basket-text::before {
  background-image: url(../img/modal-check.svg);
  background-repeat: no-repeat;
  content: "";
  display: inline-block;
  vertical-align: top;
  width: 66px;
  height: 66px;

  position: absolute;
  top: 48px;
  left: 82px;
}

.added-to-basket-bottom {
  background-color: #f1f1f1;
  padding-top: 37px;
  padding-left: 80px;
  padding-bottom: 36px;
}

.button-checkout {
  padding-top: 11px;
  padding-bottom: 10px;
  padding-left: 59px;
  padding-right: 62px;
  margin-right: 17px;

  display: inline-block;
  vertical-align: top;
}

.continue-shopping {
  display: inline-block;
  vertical-align: top;
  border: none;

  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  background-color: #ffffff;
  border-radius: 2px;


  padding-top: 11px;
  padding-bottom: 11px;
  padding-left: 44px;
  padding-right: 48px;
}

.modal-show {
  display: block;
  -webkit-animation-name: bounce;
          animation-name: bounce;
  -webkit-animation-duration: 0.6s;
          animation-duration: 0.6s;
  }

.modal-show-catalog {
  display: block;
  -webkit-animation-name: bounce-two;
          animation-name: bounce-two;
  -webkit-animation-duration: 0.6s;
          animation-duration: 0.6s;
  }


.goods-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;

  margin-top: 20px;
}

.filters-wrapper {
  width: 220px;
}

.filters-text,
.sorting-panel {
  font-family: "PTSans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;

  margin: 0;

  background-color: #f7f3ec;
  padding-top: 11px;
  padding-bottom: 9px;

  border-radius: 2px;
}

.filters-text {
  padding-left: 19px;
}

.filter-item {
  margin: 0;
  margin-top: 16px;
  padding: 0;

  border: none;
}

.filters-sections {
  font-family: "PTSans", Arial, sans-serif;;
  font-size: 17px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;

  margin: 0;
}

.range-filter {
  width: 220px;
  margin-top: 16px;
}

.filter-item legend {
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 700;
}

.range-controls {
  position: relative;

  min-height: 41px;
  margin-bottom: 9px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;

  background-color: #f7f3ec;

  border-radius: 5px;
}

.range-controls .scale {
  height: 2px;

  background: #d7dcde;
}

.range-controls .bar {
  width: 140px;
  height: 2px;

  background: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 30px;
  left: 0;

  width: 4px;
  height: 4px;
  padding: 0;

  border: 8px solid #ffffff;
  background-color: #ababab;
  -webkit-box-shadow: 0 2px 1px 0 #cfcfcf;
          box-shadow: 0 2px 1px 0 #cfcfcf;
  border-radius: 50%;
}

.range-controls .toggle-min {
  left: 20px;
}

.range-controls .toggle-max {
  left: 160px;
}

.price-controls {
  font-size: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.price-controls input {
  width: 95px;
  min-height: 36px;

  font-family: "PTSans", Arial, sans-serif;
  font-size: 17px;
  line-height: 18px;
  text-align: center;

  border: none;
  border-radius: 2px;
  background: #f7f3ec;
}

.price-hyphen {
  background-color: #444444;
  height: 1px;
  width: 9px;

  margin: 0;
  margin-top: 19px;
  margin-left: 11px;
}

.max-price {
 margin-left: 10px;
}

.filters-line-one {
  background-color: #e5e5e5;
  height: 1px;
  width: 220px;

  margin-top: 25px;
  margin-bottom: 17px;
}

.filters-checkbox,
.filters-catalog-radio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;

  font-family: "PTSans", Arial, sans-serif;
  font-size: 15px;
  line-height: 20px;
  text-transform: uppercase;
}

.filters-checkbox {
  margin-top: 13px;
}

.filters-catalog-radio {
  margin-top: 9px;
}

.filters-checkbox label,
.filters-catalog-radio label {
  margin-bottom: 17px;
}

.checkbox-label::before {
  background-image: url(../img/checkbox-off.svg);
  background-repeat: no-repeat;
  content: "";
  display: inline-block;
  vertical-align: top;
  width: 23px;
  height: 23px;
  margin-right: 11px;
  opacity: 0.7;
}

.checkbox-label:hover::before,
.checkbox-label:focus::before {
  opacity: 1;
}

.checkbox-input:checked + .checkbox-label::before {
  background-image: url(../img/checkbox-on.svg);
  width: 27px;
  margin-right: 7px;
}

.checkbox-input:disabled + .checkbox-label {
  opacity: 0.4;
}

.checkbox-input:focus + .checkbox-label {
  outline: 2px solid #68A2F9;
}

.filters-line-two {
  background-color: #e5e5e5;
  height: 1px;
  width: 220px;

  margin-top: 2px;
  margin-bottom: 19px;
}

.filters-catalog-radio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.filters-power-supply {
  margin-bottom: 58px;
}

.radio-label::before {
  background-image: url(../img/radio-off.svg);
  background-repeat: no-repeat;
  content: "";
  display: inline-block;
  vertical-align: top;
  width: 25px;
  height: 25px;
  margin-right: 11px;
  opacity: 0.7;
}

.radio-label:hover::before,
.radio-label:focus::before {
  opacity: 1;
}

.radio-input:checked + .radio-label::before {
  background-image: url(../img/radio-on.svg);
  background-repeat: no-repeat;
  content: "";
  display: inline-block;
  vertical-align: top;
  width: 25px;
  height: 25px;
  margin-right: 11px;
}

.radio-input:disabled + .radio-label {
  opacity: 0.4;
}

.radio-input:focus + .radio-label {
  outline: 2px solid #68A2F9;
}

.label-accumulator {
  margin-top: 1px;
  display: inline-block;
  vertical-align: top;
}

.filters-catalog-button {
  font-family: "PTSans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  color: #000000;

  background-color: #ffffff;
  border: 1px solid #e5e5e5;
  border-radius: 2px;

  padding-top: 10px;
  padding-bottom: 8px;
  padding-left: 37px;
  padding-right: 34px;

  display: inline-block;
  vertical-align: top;
}

.goods-sorting {
  margin-left: 20px;
  padding-bottom: 60px;

  width: 700px;
}

.sorting-panel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  padding-top: 10px;
  padding-bottom: 10px;
}

.filters-text-sorting {
  margin: 0;
  margin-left: 19px;
}

.sorting-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;

  padding: 0;
  margin: 0;
}

.sorting-link {
  color: rgba(0, 0, 0, 0.3);
  border-bottom: 1px dashed #ee3643;
}

.sorting-link-active {
  color: #ee3643;
  border-bottom: none;
}

.sorting-link:hover {
  color: #000000;
  border-bottom: 1px solid #ee3643;
}

.sorting-link:focus {
  color: #ee3643;
  border-bottom: none;
}

.sorting-item:nth-child(1) a {
  margin-left: 130px;
}

.sorting-item:nth-child(2) a {
  margin-left: 63px;
}

.sorting-item:nth-child(3) a {
  margin-left: 60px;
}

.sorting-item:nth-child(4) a {
  margin-left: 38px;
  border-bottom: none;
}

.icon-sorting-up {
  fill: #ee3643;
}

.icon-sorting-down {
  fill: #c5c5c5;
}

.sorting-link:hover .icon-sorting-up:hover,
.sorting-link:hover .icon-sorting-down:hover {
  fill: #000000;
}

.sorting-link:focus .icon-sorting-up,
.sorting-link:focus .icon-sorting-down {
  fill: #ee3643;
}

.sorting-item:nth-child(5) a {
  margin-left: 21px;
  border-bottom: none;
}

.catalog-goods-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;

  margin: 0;
  margin-top: 21px;
  padding: 0;
}

.goods-item-catalog {
  border: 1px solid #eaeaea;
  margin-right: 20px;
  margin-bottom: 20px;

  width: 218px;
  min-height: 316px;

  position: relative;
}

.goods-item-catalog:nth-child(3n) {
  margin-right: 0;
}

.goods-item-catalog:nth-child(3)::after,
.goods-item-catalog:nth-child(5)::after,
.goods-item-catalog:nth-child(7)::after {
  background-image: url(../img/new-flag.png);
  background-repeat: no-repeat;
  content: "";
  display: inline-block;
  vertical-align: top;
  width: 60px;
  height: 59px;

  position: absolute;
  top: -1px;
  right: 0;
}

.pagination-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
  margin-top: 32px;
  padding: 0;
}

.pagination-item {
  margin-right: 9px;
}

.pagination-link {
  font-family: "PTSans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #000000;
  text-transform: uppercase;

  border: 1px solid #e5e5e5;
  border-radius: 2px;

  padding-top: 9px;
  padding-bottom: 9px;
  padding-left: 15px;
  padding-right: 15px;

  display: inline-block;
  vertical-align: top;
}

.pagination-link:hover {
  border: 1px solid #bdc6ca;
}

.pagination-link:active {
  border: 1px solid #ee3643;
}

.pagination-link:focus {
  background-color: #ee3643;
  color: #ffffff;
  border: 1px solid transparent;
}

.pagination-item:nth-child(4) a {
  padding-left: 30px;
  padding-right: 21px;
}

.pagination-current {
  background-color: #ee3643;
  color: #ffffff;
}

.about-goods {
  background-color: #f4f7f9;
  padding-top: 65px;
  padding-bottom: 69px;
}

.about-goods-caption {
  padding: 0;
}

.about-goods-text {
  padding-top: 26px;
}
